<article id="about">
    <h2>About me</h2>
    <p class="p-intro">
        I'm a digital project specialist driven by a passion for continuous improvement and learning. Valued for my meticulous approach, I delve into user's reasoning, behaviour, frustrations to create optimal solutions. My versitile digital experience, shaped by the evolving digital world, consistently reflects this philosophy. It's my credo to deliver excellence and humanity in the dynamic world of digital projects.</p>
</article>