<article id="about">
    <div class="wide-wrapper">
        <h2>About me</h2>
    </div>
    <div class="narrow-wrapper">
        <div class="row clearfix">
        <div class="col-10">
            <p class="p-intro">
                I'm a digital project specialist driven by a passion for continuous improvement and learning. Valued for my meticulous approach, I delve into user's reasoning, behaviour, frustrations to create optimal solutions. My versitile digital experience, shaped by the evolving digital world, consistently reflects this philosophy. It's my credo to deliver excellence and humanity in the dynamic world of digital projects.</p>
        </div>
        <div class="col-2">
            <img class="profile-img" src="assets/images/profile-photo2.png" alt="">
        </div>
    </div>
    </div>
</article>