<article id="projects">
    <div class="wide-wrapper">
        <h2>PROJECTS</h2>
        <h2 class="decrement">INCIDENTAL</h2>
    </div>
    <div class="narrow-wrapper"> 
        <p style="text-align: left; color: rgba(224, 32, 173, 0.677);">
            Content scheduled for publishing on the 20th of Jan 2024.</p>   
    <!-- <div class="row clearfix">
        <div class="col-4 desc-2">
            <img class="project-img" src="assets/images/proj_placeholder.png" alt="">
            <h4>
                Heading
            </h4>
            <p class="project">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum convallis risus aenean cursus donec risus.
            </p>
            <button class="btn-work">View more</button>
        </div>
        <div class="col-4 desc-1">
            <img class="project-img" src="assets/images/proj_placeholder.png" alt="">
            <h4>
                Heading
            </h4>
            <p class="project">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum convallis risus aenean cursus donec risus.
            </p>
            <button class="btn-work">View more</button>
        </div>
        <div class="col-4">
            <img class="project-img" src="assets/images/proj_placeholder.png" alt="">
            <h4>
                Heading
            </h4>
            <p class="project">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum convallis risus aenean cursus donec risus.
            </p>
            <button class="btn-work">View more</button>
        </div>
    </div> -->

</div>
</article>