<article id="skills">
  <div class="wide-wrapper">
    <h2>Skills</h2>
  </div>
  <div class="narrow-wrapper">
    <div class="row clearfix">
      <div class="col-4">
        <h3>DEV</h3>
        <ul>
          <li>HTML & CSS</li>
          <li>JavaScript</li>
          <li>jQuery</li>
        </ul>
        <ul>
          <li>React</li>
          <li>Sharepoint</li>
          <li>Power Platform</li>
        </ul>
      </div>
      <div class="col-8">
        <h3>DESIGN</h3>
        <ul>
          <li>Figma</li>
          <li>Sketch</li>
        </ul>
        <ul>
          <li>Responsive design</li>
          <li>AI enhanced usability testing</li>
          <li>User Interface design</li>
          <li>Application architecture</li>
        </ul>
      </div>
    </div>
  </div>
  
</article>