:root {
  /* fluid font on page, but on smalldevices the size is fixed */
  font-size: calc(0.55em + 0.5vw);
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img {
 margin: 0;
 padding: 0;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body  {
  margin: 0;
}


// LINKS SETUP

@keyframes loadBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

nav {
  margin: 0 auto;
  margin-top: 3%;
  max-width: 970px;

  -webkit-transform: translate(-51%, -50%);
  -moz-transform: translate(-51%, -50%);
  -ms-transform: translate(-51%, -50%);
  -o-transform: translate(-51%, -50%);
  transform: translate(-51%, -50%);
  max-width: 500px;
  width: 100%;
  transform-origin: center;
  animation: loadBounce 0.5s ease-in-out forwards;
  
}

nav a {
  color: #676767;
  font-family: Galdeano;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 10px 5px;


  transition: all 0.4s linear;
  background: linear-gradient(to right, #92B4F4 0%, #0A369D 98%);
  background-size: 0px 1px;
  background-repeat: no-repeat;
  background-position: left 85%;
}

nav a:hover {
  background-size: 100% 2px;
}

.celticBlue-text {
  color: #0A369D;
}



.banner-wrapper {
  margin: 0 auto;
  padding: 20px;
  height: 80vh;
}

.banner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 100px;
  font-weight: 500;
  margin: 0;
  color: #333;
}

h6, p {
  color: #333;
  text-align: center;
  font-family: Galdeano;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}




@media (max-width: 996px) {
  // .container {
  //     max-width: 970px;
  // }
}


article {
  // max-width: 1200px;
  margin: 128px 0;
}

article .wide-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

article .narrow-wrapper {
  max-width: 996px;
  margin: 0 auto;
}


// ABOUT SECTION

article h2 {
  color: #DDDCDC;
  font-family: Galdeano;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  // margin-bottom: 5px;
  margin: 0;
  letter-spacing: -0.9px;
}

.p-intro {
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 39px */ 
  text-align: left;
  max-width: 780px;
}

.col-10 {
  width: 83.33%;
  float: left;
}

.col-2 {
  width: 16.66%;
  float: left;
}

.profile-img {
  // position: relative;
  // top: -50%;
  transform: translateY(-50%);
}


// .current {
//     color: green;
//   }

// SKILLS SECTION

.col-4 {
  width: 33.33%;
  float: left;
}

.col-8 {
  width: 56.66%;
  float: left;
}

#skills .col-8 {
  padding-top: 7%;
}



h3 {
  color: #DDDCDC;
  font-family: Galdeano;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}

#skills ul {
  margin: 0;
  padding: 5px;
}

#skills ul li {
  color: #000;
  font-family: Galdeano;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  line-height: 150%; /* 54px */
}

// WORK SECTION

article h4 {
  color: #000;
  font-family: Galdeano;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 54px */
  margin: 5px 0;
}


.p-dscr {
  color: #323232;
  font-family: Galdeano;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 33.8px */
  text-align: left;
}

.btn-work {
  --b: 1px;   /* border thickness */
  --s: .15em; /* size of the corner */
  --c: #0A369D;
  padding: calc(.05em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .2em;
}

.btn-work:hover,
.btn-work:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}

.btn-work:active {
  background: var(--c);
  color: #fff;
}

.btn-work {
  font-family: Galdeano;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  border: none;
  margin: .1em;
}



// PROJECTS SECTION

h2.decrement {
  margin: 0;
  font-size: 80px;
}

.col-4 {
  width: calc(33.33% - 30px);
  float: left;
  padding: 15px;
}

.col-6 {
  width: 50%;
  float: left;
}

p.project {
  color: #323232;
  font-family: Galdeano;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  text-align: left;
}

.desc-1 {
  margin-top: 40px;
}

.desc-2 {
  margin-top: 80px;
}

.project-img {
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.25);
}

// CONTACT SECTION

.buttons-wrrapper {
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 7%;
}

.buttons-wrrapper a {
  padding: 0 2%;
  text-decoration: none;
  transition: .3s;
}

.buttons-wrrapper a:hover svg {
  animation: zoom-in-zoom-out 1.3s ease infinite;
}

.buttons-wrrapper a svg path {
  transition: .3s;
}

.buttons-wrrapper a.btn-linkin:hover svg path {
  fill: #0077B5;
}

.buttons-wrrapper a.btn-git:hover svg path {
  fill: #000;
}

.buttons-wrrapper a.btn-mail:hover svg path {
  fill: #0078D4;
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}



// FOOTER SECTION

footer {
  margin-top: 5%;
  text-align: center;
  background-color: #000;
  margin: 0;
}

footer .p-footer {
  color: white;
  font-family: Galdeano;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  margin: 0;
  padding: 10px 0;
}

footer p a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: .3s;
  

}

footer p a:hover {
  border-bottom: 1px solid white;
}


